/* for large screens */
@media screen and (min-width:1280px){
    #myCarousel>.carousel-inner>.item{
        width:100%;
        height:450px;
        margin-top:0px;
    }
    #myCarousel>.carousel-inner>.item>img{
        width:100%;
        height:auto;
    }
        h1{
        font-size:30px;
    }


}
/* for medium screen */
@media screen and (max-width:960px){
    #myCarousel>.carousel-inner>.item{
        width:100%;
        margin-top:0px;
    }
    #myCarousel .carousel-caption>h1{
        font-size:25px;
        }
    #myCarousel .carousel-caption>p{
        font-size:14px;
       }
     h1{
        font-size:24px;
    }

}
/* for small screen */
@media screen and (max-width:480px){
    #myCarousel>.carousel-inner>.item{
        margin-top:0px;
        width:100%;
        height:auto;
    }
    #myCarousel .carousel-caption>h1{
        font-size:15px;
        }
    #myCarousel .carousel-caption>p{
        display:none;
    }
    h1{
        font-size:20px;
    }
}
/* for extra small screen */
@media screen and (min-width:180px) and (max-width: 479px){
    #logo_nav{
        font-size: 10px;
    }
   
}