@font-face {
    font-family:openlight;
	src: url('openlight.ttf');
}
@font-face {
    font-family:open;
	src: url('open.ttf');
}
@font-face {
    font-family:museo;
	src: url('museo.otf');
}
@font-face {
  font-family: harka;
  src: url('harka.ttf');
}
.row p a{
    color:#fff
}body {
    font-family: museo; /*nice font
    /* font-family: harka; */
    overflow-x:hidden;
}
#section2  a {
    color:#29d846;
}
#contact-info{
    background:#3c78e7;
}
.content-wrapper{
    padding:10px;
}
.social-info{
    color:#fff;
    height:15px;
    font-size:15px;
    margin-right:5px;
    padding:0px 5px;
}
.social-icons{
    max-height:20px;
}
#myJumbotron{
    border-top:2px solid #3c78e7;
    padding-top:40px;
    padding:10px;
}
.icon-head{
    max-height:40px;
    display:inline-block;
}
.student{
    border:5px solid rgb(231, 231, 231);
    max-height:150px;
}
.staff{
    border:2px solid rgb(231, 231, 231);
    margin-bottom:25px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
}
.staff:hover{
  /* transform:scale(500px);*/
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
.principal{
    border:2px solid rgb(231, 231, 231);
    float:left;
    margin: 10px;
}
#archive{
    padding-left:40px;
}
.map-section{
    width:100%;
     height:400px;
     border:1px solid #eee;
     padding:0px;
}
.footer-sub{
    background:#3c78e7;
    color:#eee;
    font-size:14px;
}
.footer-sub h4{
    text-transform: uppercase;
    color:#fff;
}
.footer-inner{
     margin-top:50px;
     margin-bottom:50px;
}
.footer-small{
    border-top:2px solid #159efa;
    background:#082d74;
    padding:10px;
}
.footer-small-text{
    color:#94c6dd;
    text-align:center;
    margin:10px;
    padding:15px;
}
.footer-small-text a{
    font-size:16px;
}

#archive a{
    text-decoration:none;
}
#archive{
    margin-top:10px;
    padding:0 25px;
}
#header{
    margin-bottom:0px;
}

.notice_item, .gallery_item{
    margin:5px 0;
}
.notice_content{
    color:#5a5959;
}
.notice_content small{
    color:#3c78e7;
    font-size:18px;
    padding:5px;
    font-weight:bold;
}
.notice_content hr{
   padding:0px;
   margin:5px;
}
#search{
  padding: 20px;
  margin-top:-10px;
}
.search-form{
  padding:5px;
}
.input-box>span{
  height:30px;
  width:30px;
  position:absolute;
  padding:6px;
  margin-left:5px;
}
.input-box input{
    border-radius:30px;
    padding-left:40px;
    background: rgba(255,255,255,.5);
}
